<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Instagram Video Downloader</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
      body {
        font-family: 'Poppins', sans-serif;
      }

      .pulse:hover {
        animation: pulse 1s infinite;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }

      .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }

      footer {
        color: black;
      }
    </style>
  </head>
  <body class="flex flex-col items-center justify-center h-screen">
    <div class="w-full max-w-md">
      <h1 class="text-3xl font-bold mb-4 text-center">Instagram Video Downloader</h1>
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="{{ url_for('download_instagram_video') }}" onsubmit="return validateForm()">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="url">
            Video URL:
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="url" id="url" style="width: 380px;">
          <div class="error-message" id="url-error"></div>
        </div>
        <div class="flex items-center justify-center">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded pulse" type="submit">
            Download
          </button>
        </div>
      </form>
    </div>

    <footer class="text-center text-gray-500 text-xs">
      &copy; 2022-23 LoaderMedia. All rights reserved.
    </footer>

    <script>
      function validateForm() {
        var urlInput = document.getElementById("url");
        var urlError = document.getElementById("url-error");

        if (urlInput.value.trim() == "") {
          urlError.innerHTML = "Please enter a valid video URL.";
          return false;
        }

        return true;
      }
    </script>
  </body>
</html>
